<div class= "whole_page bg-light">
  <div class=" d-flex justify-content-center flex-nowrap pt-3 " >
    <div class="card  ">
      <div class="card-header"> New game address</div>
      <%= render 'form', game_address: @game_address %>
      <%= link_to 'Back', game_addresses_path %>
    </div>
  </div>
</div>

