<div class="whole_page bg-light">
<div class=" d-flex justify-content-center flex-nowrap pt-3" >
    <div class="card mb-4 ">
      <div class="card-header"> New Listing </div>
    
<%= render 'form', listing: @listing %>
</div>
</div>
<div class="link_to bg-light">
<%= link_to 'Back', listings_path %> 
</div>








