<div class=" d-flex justify-content-center flex-nowrap mt-4 " >
    <div class="card mb-4 ">
      <div class="card-header"> New Listing </div>
    
<%= render 'form', listing: @listing %>
</div>
</div>
<div class="link_to">
<%= link_to 'Back', listings_path %> 
</div>







