<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @housingsize.value %>
</p>

<%= link_to 'Edit', edit_housingsize_path(@housingsize) %> |
<%= link_to 'Back', housingsizes_path %>
