/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@import "trix/dist/trix";
@import "./actiontext.scss";








.link_to {
  padding-left: 70px;
}

.link_to a {
  color: #686c6d;
  font-weight: 200;
  text-decoration: none;
}

.link_to a:visited {
  color: #2d2d2d;
}

.link_to a:hover {
  text-decoration: underline;
  color: #686c6d;
}

/*------- show buttons css -------*/

.link_to_show {
  padding-top: 10px;
}

.link_to_show a {
  color: #686c6d;
  font-weight: 200;
  text-decoration: none;
}

.link_to_show a:visited {
  color: #2d2d2d;
}

.link_to_show a:hover {
  text-decoration: underline;
  color: #686c6d;
}
