// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


h1{
    text-align: center;
}


.card-user{
    font-size: 15px;
}

/*------- view listing css -------*/


.project-info-box {
  margin: 15px 15px 15px;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box  {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.house_img {
    
    
}


p {
    font-family: "Barlow", sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
    color: #686c6d;
    letter-spacing: 0.03rem;
    margin-bottom: 10px;
}
b, strong {
    font-weight: 700 !important;
}
 

