// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


h1{
    text-align: center;
}


.card-user{
    font-size: 15px;
}

/*------- view listing css -------*/


.project-info-box {
  margin: 15px 15px 15px;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box  {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

p {
    font-family: "Barlow", sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
    color: #686c6d;
    letter-spacing: 0.03rem;
    margin-bottom: 10px;
}
b, strong {
    font-weight: 700 !important;
}
 

/*------- Edit/new form css -------*/

.open-text{
  font-weight: lighter;
  font-size: x-small;
  padding-top: 0px;
  margin: 0;
}

.link_to{
  padding-left: 70px;
}

.link_to a{
  color: #686c6d;
  font-weight: 200;
  text-decoration: none;
}

.link_to a:visited{
  color: #2d2d2d;
}

.link_to a:hover {
  text-decoration: underline;
  color: #686c6d;
}

/*------- show form css -------*/

.link_to_show{
  padding-top: 10px;
}

.link_to_show a{
  color: #686c6d;
  font-weight: 200;
  text-decoration: none;
}

.link_to_show a:visited{
  color: #2d2d2d;
}

.link_to_show a:hover {
  text-decoration: underline;
  color: #686c6d;
}


/*------- Profile form css -------*/
