// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hero {
    min-height: 50vh;
    background: #000 image-url("mist.png") center center no-repeat;
    background-size: cover;
    position: relative;
    padding: 0%;
    margin: 0px;
  }