// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*------- home page css -------*/

.hero {
    min-height: 50vh;
    background: #000 image-url("mist.png") center center no-repeat;
    background-size: cover;
    position: relative;
    padding: 0%;
    margin: 0px;
  }


.b_image{
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;
  color: rgb(221, 221, 221);
  font-weight: bolder;
  
}

.stock_img{
  background-size: cover;
  height: 250px !important;
  color: rgb(221, 221, 221);
  font-weight: bolder;
}




/*------- how to page css -------*/


.timeline-page {
  padding: 10px 10px;
  position: relative;
  margin-top: 35px;
}

.timeline-page::after {
  content: "";
  height: 95%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  background-color: #e8e8e8;
}

.timeline-item {
  margin-bottom: 80px;
}

.timeline-page .timeline-item .date-label-left {
  text-align: center;
  margin-right: 20px;
  position: relative;
}

.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right::after {
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
  height: 20px;
  position: absolute;
  top: 20px;
  width: 20px;
  z-index: 1;
}

.timeline-page .timeline-item .date-label-left::after {
  right: -45px;
}

.timeline-page .timeline-item .duration-right::after {
  left: -45px;
}

.timeline-page .timeline-item .works-description-right {
  text-align: left;
  margin-left: 15px;
  float: left;
  border-radius: 0;
  padding: 20px 0;
}

.timeline-page .timeline-item .duration-right {
  text-align: center;
  margin-left: 20px;
  position: relative;
}

.timeline-page .timeline-item .works-description-left {
  text-align: right;
  margin-right: 15px;
  float: right;
  border-radius: 0;
  padding: 20px 0;
}

.timeline-page h4,
.works-description-left h4 {
  font-size: 18px;
  margin-top: 0;
  text-transform: capitalize;
}

.timeline-subtitle {
  line-height: 26px;
  color: #666;
}

.bg-custom, .btn-custom, .timeline-page .timeline-item .date-label-left::after, .timeline-page .timeline-item .duration-right::after, .back-to-top:hover {
  background-color: #ffeeac;
  
}